# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop‑eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python‑wheels/
*.egg‑info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip‑log.txt
pip‑delete‑this‑directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3‑journal

# Flask stuff:
instance/
.webassets‑cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
# .python‑version

# Package managers lock files
# Pipenv
# Pipfile.lock
# UV
# uv.lock
# poetry
# poetry.lock
# poetry.toml
# pdm
# pdm.lock
# pdm.toml
.pdm‑python
.pdm‑build/
# pixi
# pixi.lock
.pixi

# PEP 582
__pypackages__/

# Celery stuff
celerybeat‑schedule
celerybeat.pid

# Redis
*.rdb
*.aof
*.pid

# RabbitMQ
mnesia/
rabbitmq/
rabbitmq‑data/

# ActiveMQ
activemq‑data/

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# IDE
.idea/
.vscode/

# Abstra
.abstra/

# Temporary file
tempCodeRunnerFile.py

# Ruff cache
.ruff_cache/

# PyPI config
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml

# Office temp files
~$*.docx
~$*.doc

# OS system files
.DS_Store
Thumbs.db

# -------------------------- 【MMA3001 猪肉包装缺陷检测 项目专属】 --------------------------
# 仅过滤runs下的模型权重pt/pth，保留csv训练日志、png曲线图、混淆矩阵
runs/**/weights/*.pt
runs/**/weights/*.pth

# 根目录下权重文件
*.pt
*.pth

# 过滤数据集图片文件，txt标签文件不受此规则影响，会正常提交
data/**/*.jpg
data/**/*.jpeg
data/**/*.png
data/**/*.bmp
data/**/*.webp
